@import url(https://fonts.googleapis.com/css?family=Asap);
}

body {
	font-family: 'Asap', sans-serif;
	background-color: #FAF460;
	font-size: 16px;
}
h1 {
	font-family: 'Asap', sans-serif;
	font-size: 65px;
	text-align: center;
	font-style: italic;
}
#slogan {
	font-family: 'Asap', sans-serif;
	color: #fff;
	font-size: 24px;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	color: #FF0000;
}
img {
	display: block;
	height: 300px;
	width: 450px;
	margin: auto;
}
#contact {
	text-align: center;
}
p {
	font-family: 'Times New Roman', sans-serif;
	padding: 20px;
	line-height: 20px;
	text-align: justify;
	font-weight: bold;
	padding-right: 200px;
	padding-left: 200px;
}
li {
	font-family: 'Asap', sans-serif;
	text-align: center;
	list-style-type: none;
	font-weight: bold;
}
ul { 
	font-family: 'Asap', sans-serif;
	text-align: justify;
	padding-left: 500px;
	list-style-type: none;
}